<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <H1>hi mr <%= username %></H1>
    <p>youre safe password is <%= safepassword%></p>
    <p>and here is youre hashed password <%= hashedpassword%></p>
</body>
</html>